<html>
<head>
    <title>Curd Operation</title>
    <meta charset="utf-8">
    {% load staticfiles %}
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
   <link rel='stylesheet' href="{% static 'bootstrap/css/font-awesome-5.8.1.css' %}">
    <link rel='stylesheet' href="{% static 'bootstrap/css/bootstrap.css' %}">
     <link rel='stylesheet' href="{% static 'bootstrap/css/mdb.css' %}">
</head>
<body>
<h1 class="bg-warning p-3 text-center font-weight-bold">CURD OPERATION</h1>
<div class="container">
<div class="row">
    <div class="offset-md-3 col-md-4">
        <a href="/create/" class="btn btn-success btn-block mt-4">CREATE</a>
        <a href="/retrieve/" class="btn btn-info btn-block mt-4">RETRIEVE</a>
        <a href="/update/" class="btn btn-warning btn-block mt-4">UPDATE</a>
        <a href="/delete/" class="btn btn-primary btn-block mt-4">DELETE</a>
    </div>
</div>
</div>
</body>
</html>